/** HEADER **/
#header-nav{
	background-color: #C2CAD0;
	border-radius: 0;
	border: 0;
}
.navbar-brand h1 {
	color: white;
	font-size: 1.5em;
 	text-transform: uppercase;
 	font-weight: bold;
 	text-shadow: 1px 1px 1px #222;
 	margin: 0;
  	line-height: .75;
  	text-align: left;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.container h1{
	position: relative;
	text-align: center;
	margin-top: 20px;
	color: #950740;
}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}
/*.navbar-header button.navbar-toggler, .navbar-header .icon-bar {
  border: 1px solid #61122f;

}
.navbar-header button.navbar-toggler {
  clear: both;
  margin-top: -30px;
}
.navbar-toggler .icon-bar {
  margin-bottom:2px;
  display: block;
  width: 22px;
  height: 2px;
  background-color: #cccccc;
  border-radius: 1px;
}*/

.dropdown{
	position: absolute;
	right: 10px;
	top:15px;
}

#collapsable-nav{
	font-size: 1.2em;
}

@media (min-width: 992px) {
	h2{
		text-align: center;
		font-size: 1.2em;
		color: white;
	}
	#box{
		background-color: #C2CAD0;
		margin: 10px;
	}
	#box p{
		color: #950740;
		padding: 5px;
	}
}
/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
	h2{
		text-align: center;
		font-size: 1.2em;
		color: white;
	}
	#box{
		background-color: #C2CAD0;
		margin: 10px;
	}
	#box p{
		color: #950740;
		padding: 5px;
	}
}
@media (max-width: 767px) {
	h2{
		text-align: center;
		font-size: 1.2em;
		color: white;
	}
	#box{
		background-color: #C2CAD0;
		margin: 10px;
	}
	#box p{
		color: #950740;
		padding: 5px;
	}
}